@charset "utf-8";
.content {
  padding-top: 100px;
  /*banner*/
  /*内容展示*/
  /*我们提供*/
  /*企业资讯*/
  /*联系我们*/
}
.content .banner .item a img {
  width: 100%;
  height: auto;
}
.content .provide {
  padding: 118px 0px 120px;
  width: 100%;
  height: auto;
  background-origin: padding-box;
  background: url(../img/5-26-AAS-website-design_02.png) 0% 100% no-repeat;
  background-size: contain;
}
.content .provide .container .row h3 {
  margin-bottom: 136px;
  font-size: 32px;
}
.content .provide .container .row div span {
  margin-left: 17%;
  width: 170px;
  height: 142px;
  display: block;
  background: url(../img/zhuye-d1-a1.png) no-repeat;
  background-size: contain;
}
.content .provide .container .row div:hover span {
  background: url(../img/zhuye-d1-b1.png) no-repeat;
  background-size: contain;
}
.content .provide .container .row div:nth-of-type(2) span {
  background: url(../img/zhuye-d1-a2.png) no-repeat;
  background-size: contain;
}
.content .provide .container .row div:nth-of-type(2):hover span {
  background: url(../img/zhuye-d1-b2.png) no-repeat;
  background-size: contain;
}
.content .provide .container .row div:nth-of-type(3) span {
  background: url(../img/zhuye-d1-a3.png) no-repeat;
  background-size: contain;
}
.content .provide .container .row div:nth-of-type(3):hover span {
  background: url(../img/zhuye-d1-b3.png) no-repeat;
  background-size: contain;
}
.content .provide .container .row div:nth-of-type(4) span {
  background: url(../img/zhuye-d1-a4.png) no-repeat;
  background-size: contain;
}
.content .provide .container .row div:nth-of-type(4):hover span {
  background: url(../img/zhuye-d1-b4.png) no-repeat;
  background-size: contain;
}
.content .consult {
  padding: 118px 0px;
  width: 100%;
  height: auto;
  background-origin: border-box;
  background: url(../img/homebak2.png) no-repeat;
  background-size: cover;
}
.content .consult .container .row {
  margin: 0px;
}
.content .consult .container .row h3 {
  color: white;
  font-size: 32px;
  margin-bottom: 108px;
}
.content .consult .container .row > div:nth-of-type(1) a {
  height: 238px;
  background: url(../img/beepress.jpg) no-repeat;
  background-size: cover;
}
.content .consult .container .row > div:nth-of-type(1) a > div {
  height: 238px;
}
.content .consult .container .row > div:nth-of-type(2) a {
  background: url(../img/1214023998.png) no-repeat;
  background-size: cover;
}
.content .consult .container .row > div:nth-of-type(3) a {
  background: url(../img/1568293843.png) no-repeat;
  background-size: cover;
}
.content .consult .container .row > div {
  position: relative;
}
.content .consult .container .row > div a {
  width: 100%;
  height: 204px;
  float: left;
  color: white;
}
.content .consult .container .row > div a > div {
  width: 100%;
  height: 204px;
}
.content .consult .container .row > div a > div span {
  font-size: 28px;
  position: absolute;
  left: 45%;
  top: 45%;
  display: none;
}
.content .consult .container .row > div a:hover > div {
  background: rgba(72, 164, 225, 0.3);
}
.content .consult .container .row > div a:hover span {
  display: block;
}
.content .consult .container .row button {
  margin-left: 15%;
  margin-top: 77px;
  color: white;
  background-color: transparent;
}
.content .contact {
  padding: 118px 0px 100px;
  width: 100%;
  height: auto;
  background-origin: border-box;
  background: url(../img/homebak3.png) no-repeat;
  background-size: cover;
}
.content .contact .container .row h3 {
  font-size: 32px;
}
.content .contact .container .row p {
  font-size: 20px;
  margin: 50px 0px 70px;
}
.content .contact .container .row div {
  margin-bottom: 10px;
}
.content .contact .container .row div input {
  width: 100%;
  height: 40px;
  background: #081630;
  text-indent: 5px;
}
.content .contact .container .row div input::placeholder {
  line-height: 40px;
}
.content .contact .container .row div .btn {
  border-radius: 0px;
  text-align: left;
}
.content .contact .container .row div:nth-of-type(4) textarea {
  background: #081630;
  width: 100%;
  height: 250px;
  text-indent: 15px;
}
.content .contact .container .row div:nth-of-type(4) textarea::placeholder {
  line-height: 40px;
}
.content .contact .container .row button {
  width: 118px;
  height: 50px;
  margin-top: 10px;
  margin-right: 15px;
  background: -webkit-linear-gradient(left, #0c8ec5, #20bacb);
  background: -ms-linear-gradient(left, #0c8ec5, #20bacb);
  background: -moz-linear-gradient(left, #0c8ec5, #20bacb);
}
@media (max-width: 768px) {
  .wamp .provide .container .row div {
    margin-bottom: 20px;
    margin-left: 19%;
  }
  .wamp .consult .container .row > div {
    margin-bottom: 20px;
  }
  .wamp .consult .container .row > div a {
    height: 350px;
  }
  .wamp .consult .container .row > div a > div {
    height: 350px;
  }
  .wamp .consult .container .row > div:nth-of-type(1) {
    margin-bottom: 20px;
  }
  .wamp .consult .container .row > div:nth-of-type(1) a {
    height: 384px;
  }
  .wamp .consult .container .row > div:nth-of-type(1) a > div {
    height: 384px;
  }
  .wamp .consult .container .row button {
    margin-left: 45%;
  }
}
