<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=0">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="shortcut icon" href="../img/logo-e1469776092665.png">
		<link rel="stylesheet" type="text/css" href="../css/content.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<title>内容页</title>
	</head>
	<body>
		<div class="s-product">
			<a href="#"><img src="../img/s-product_03.jpg" alt=""></a>
		</div>
		<div class="wamp">
			<!-- 头部 -->
			<div class="header">
				<div class="container-fluid">
					<div class="row">
						<!-- 导航条 -->
						<div class="navbar navbar-fixed-top">
							<div class="hidden-lg col-md-1 fl dropdown">
								<span class="glyphicon glyphicon-menu-hamburger" data-toggle="dropdown"></span>
								<ul class="dropdown-menu fr">
									<li><a href="../index.html">主页<div></div></a></li><!-- 链接不到对应位置 -->
									<li><a href="service.html">实施服务<div></div></a></li>
									<li><a href="solution.html">行业解决方案<div></div></a></li>
									<li><a href="big-data-products.html">大数据产品<div></div></a></li>
									<li><a href="educational.html">教育与培训<div></div></a></li>
									<li class="dropdown">
										<a href="introduction.html" data-toggle="dropdown">关于我们<div></div><span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="introduction.html">公司介绍</a></li>
											<li><a href="partner.html">合作伙伴</a></li>
											<li><a href="contact.html">联系我们</a></li>
											<li><a href="recruit.html">2019校园招聘</a></li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="logo col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<h1>
									<a href="#"><img src="../img/logo.png" alt="" class="img-responsive"></a>
								</h1>
							</div>
							<div class="nav col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<ul class="nav-pills fr">
									<li><a href="../index.html">主页<div></div></a></li>
									<li><a href="service.html">实施服务<div></div></a></li>
									<li><a href="solution.html">行业解决方案<div></div></a></li>
									<li><a href="big-data-products.html">大数据产品<div></div></a></li>
									<li><a href="educational.html">教育与培训<div></div></a></li>
									<li class="dropdown">
										<a href="introduction.html" data-toggle="dropdown">关于我们<div></div><span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="introduction.html">公司介绍</a></li>
											<li><a href="partner.html">合作伙伴</a></li>
											<li><a href="contact.html">联系我们</a></li>
											<li><a href="recruit.html">2019校园招聘</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 内容 -->
			<div class="content">
				<!-- 内容展示 -->
				<div class="main">
					<h3 class="text-center">” 数字化、新零售探索与实践“线下分享会顺利举行</h3>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
								<p>3月12日，由音智达、CCE (程迈股份)、英檬科技和萤若科技四家公司联合举办的”数字化、 新零售探索与实践”线下分享会在上海环球港凯悦酒店隆重举行，本次线下分享会围绕着数字化与新零售，邀请来自美素佳儿、颖通集团、和欧莱雅品牌的诸位嘉宾共同分享了他们对于新零售行业生态、企业数字化转型、大数据賦能、营销技术创新等方面的真知灼见。</p>
								<div>
									<img src="../img/1.jpg" class="img-responsive">
								</div>
								<p>英檬科技的创始人，CEO陈涛先生担任此次分享会的开场嘉宾，回顾201 8年在新零售领域的探索和取得的实践成果，并介绍了“场泉，应用，数据”的整合新零告解决方案与新零售中台产品。他同时表示，英檬科技相继获得CCE与音智达的战略投资，这将加速三方在产品与业务方面的全面深入合作，构建新零售服务生态，与品牌共创新业务场家，实现数字化时代新发展。</p>
								<div>
									<img src="../img/2.jpg" class="img-responsive">
								</div>
								<p>图为:英檬科技的创始人、CEO陈涛先生</p>
								<p>具体表现在三个方面:</p>
								<p>一、创建更生动有趣的人与人，人与内容，人与设备间的交互场景</p>
								<p>二、措建或优化可以支持场景快速变化的新零售业务中台</p>
								<p>三、强化数据价值，重视数据流，建立或优化适合品牌的业务</p>
								<div>
									<img src="../img/3.jpg" class="img-responsive">
								</div>
								<p>图为: CCE.英檬、音智达三方高层台影</p>
								<p>嘉宾观点精彩回顾:</p>
								<p>CCE创始人、CEO赵聪翀先生以市场营销的5个痛点带出CCE的发展历程和业务布局，并拿-个产品思维孵化的爆款案例一 萤若科技的新零售成果来阐述CCE的品牌逆生长秘诀。他认为新零售营销链路中最重要的环节，-是新的触点，二是新的渠道，三是新的服务，四是新的供应链，而这一切离不开数据和组织的赋能。</p>
								<p>音智达邀请的快消行业客户代表一美 素佳儿品牌的Digital Data Expert Vickie Liu表示:品牌要从以前的产品为核心,及时转变思维，变成以消费者为中心，产品为基准,打造以消费者中心的场景，这需要新零售、大数据与数字化的全面支持。</p>
								<div>
									<img src="../img/4.jpg" class="img-responsive">
								</div>
								<p>图为:美素佳儿品牌代表Vickie Liu</p>
								<p>音智达快消行业项目交付总监王文韬先生指出在新零售场景下，对数据系统的要求与以前是有很大差异的，未来大数据的中台必须具有融合性、即时性、人工智能化和决策性的特质。在讲解了对数据赋能的一些思考后，王文韬先生对音智达做过的几个探索性案例进行剖析。机器学习的模型本身是在不断自我学习选代并纠错的，所有的过程都是实时或者净实时来完成的;数据系统需要马上做出决策;数据需要实时完成处理。</p>
								<p>音智达打造的一个数据中台可以支撑案例中的情况，同时满足OLPP. OLAP的场景学习，也提供以SERVICES的形式，做STREAMING,做机器的学习，数据的整合，也可以同时布在机器的私有云上，很容易弹性扩展。</p>
								<p>颖通集团全渠道战略发民总经理I超先生以颖通的落地实践为例，对新零售做出总结:即以消费者为核心，利用消费者触点、数据分析和精准营销、场泉设计和内容营销四个手段，达到消费者体验和企业效率的提升。</p>
								<div>
									<img src="../img/5.jpg" class="img-responsive">
								</div>
								<p>图为:颖通集团全渠道战略发展总经理王超先生</p>
								<p>以下是圆桌会议上的精彩问答:</p>
								<p>主持人:你现在经历的项目过程中，发现很多企业在做新零售数据，他们是否存在一些误区? 或者他们已经进入到了一个误区?或者是遇到了最大的挑战是什么?</p>
								<p>王文韬:我觉得刚才Oven提的新零售数字-体，这个提法很好。我觉得有的公司业务、数据分开搞，就比较割裂，会形成-种误区.有的供应商也是说全部都能做，这样也不对，我觉得我们今天跟CCE.英檬，我们过去很好合作，我们也相当于是一个新零售的数字经济体来为我们客户提供全方位的服务。因为光是去谈数字，没有场景，没有落地，没有前面的这些营销，数字不能发挥它最后的价值。如果你有场呆，后面数据的容量、数据的容量、模型跟不上，也不行，这是很重要的要避免的误区。</p>
								<div>
									<img src="../img/6.jpg" class="img-responsive">
								</div>
								<p>图为:音智达快消行业项目交付总监王文韬先生</p>
								<p>挑战，特别新零售在数据这块，因为用到的技术，后台的这些技术现在太多,特别大数据生态圈里面出来的技术太多，怎么能够来简化，或者说能够提供一站式的快速的服务， 这块也是一个很大的挑战。</p>
								<p>会议最后，音智达CMO张力先生表示: CCE会做前端的很多东西，有大里的硬件和内容，英檬会生成大量的应用、中台，音智达会有大量数据，会产生大量数据价值，返回不管是营销的投放，还是在业务上的。本次的三方联合，音智达将帮助其他企业加快数字化转型进程。</p>
								<div>
									<img src="../img/7.jpg" class="img-responsive">
								</div>
								<p>图为:音智达CMO张力先生</p>
								<p>在当下的营销环境中，无论是品牌方、广告公司还是第三方服务商，都面临着巨大的挑战，在面对新零告的庞大体系和全新语境时，每个角色都承担着巨大的竞争压力，在此背景下，”数字化。新零售探索与实践”线下分享会联合品牌方、厂告公司、新零售服务商和数据公司等多方角色，以整个产业链的广阔视野和积极尝试的创新态度，来综合性的深入探讨这一命题， 对新零售、数字化领域做出很多有益思考，亦见证了整个行业的发展，贡献了自己的力量.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<h6>近期文章</h6>
								<ul>
									<li>活动回顾|十音着达受道参加“数字化第三届黑科技节”</li>
									<li>数字化、新零售探索与实践“线下分享会顺利举行</li>
									<li>年会|我宣布，“2019群音汇之亦统江湖"Cosplay主题年会，于世博展览馆正式作妖成功!</li>
									<li>音智达亦策行业高层峰会在风光梅施的海南三亚顺利召开</li>
									<li>2018年第二次音智达亦策售前会议圆满结束</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 内容结束 -->
			<!-- 尾部 -->
			<div class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="../img/logo-e1469776092665.png" alt="" class="img-responsive">
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 ">
								<div class="footer-top">
									<div class="part">
										<h5>实施服务</h5>
										<ul>
											<li><a href="service.html">大数据分析</a></li>
											<li><a href="service.html">IT 咨询服务</a></li>
											<li><a href="service.html">商业智能服务</a></li>
											<li><a href="service.html">主数据管理服务</a></li>
										</ul>
									</div>
									<div class="part">
										<h5>行业解决方案</h5>
										<ul>
											<li><a href="solution.html">快消与零售业</a></li>
											<li><a href="solution.html">生命科学</a></li>
											<li><a href="solution.html">航空与物流</a></li>
											<li><a href="solution.html">汽车制造业</a></li>
											<li><a href="solution.html">高科技制造业</a></li>
										</ul>
									</div>
									<div class="part">
										<h5>教育与培训</h5>
										<ul>
											<li><a href="educational.html">大数据公开课</a></li>
											<li><a href="educational.html">商业分析课程</a></li>
											<li><a href="educational.html">数据挖掘课程</a></li>
											<li><a href="educational.html">定制化课程</a></li>
										</ul>
									</div>
									<div class="part">
										<h5>关于我们</h5>
										<ul>
											<li><a href="introduction.html">公司介绍</a></li>
											<li><a href="partner.html">合作伙伴</a></li>
											<li><a href="contact.html">联系我们</a></li>
											<li><a href="recruit.html">招聘岗位</a></li>
										</ul>
									</div>
								</div>
								<div class="footer-bottom text-center">
									<p class="visible-lg">Copyright 2013 Advanced Service. All rights reserved. <span></span>沪公网安备 31010502001490号 沪ICP备12049665号-9</p>
									<p class=" visible-md visible-xs visible-sm">Copyright 2013 Advanced Service. All rights reserved. 沪ICP备12049665号-9</p>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="../img/AAS-QR-code.jpg" alt="" class="img-responsive" >
							</div>
						</div>
					</div>
			</div>
		</div>
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>