<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=0">
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<link rel="shortcut icon" href="../img/logo-e1469776092665.png">
		<link rel="stylesheet" type="text/css" href="../css/solution.css" />
		<link rel="stylesheet" type="text/css" href="../css/public.css" />
		<title>行业解决方案 – 上海音智达信息技术有限公司</title>
	</head>
	<body>
		<div class="s-product">
			<a href="#"><img src="../img/s-product_03.jpg" alt=""></a>
		</div>
		<div class="wamp">
			<!-- 头部 -->
			<div class="header">
				<div class="container-fluid">
					<div class="row">
						<!-- 导航条 -->
						<div class="navbar navbar-fixed-top">
							<div class="hidden-lg col-md-1 fl dropdown">
								<span class="glyphicon glyphicon-menu-hamburger" data-toggle="dropdown"></span>
								<ul class="dropdown-menu fr">
									<li><a href="../index.html">主页<div></div></a></li>
									<li><a href="service.html">实施服务<div></div></a></li>
									<li><a href="solution.html">行业解决方案<div></div></a></li>
									<li><a href="big-data-products.html">大数据产品<div></div></a></li>
									<li><a href="educational.html">教育与培训<div></div></a></li>
									<li class="dropdown">
										<a href="introduction.html" data-toggle="dropdown">关于我们<div></div><span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="introduction.html">公司介绍</a></li>
											<li><a href="partner.html">合作伙伴</a></li>
											<li><a href="contact.html">联系我们</a></li>
											<li><a href="recruit.html">2019校园招聘</a></li>
										</ul>
									</li>
								</ul>
							</div>
							<div class="logo col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<h1>
									<a href="#"><img src="../img/logo.png" alt="" class="img-responsive"></a>
								</h1>
							</div>
							<div class="nav col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<ul class="nav-pills fr">
									<li><a href="../index.html">主页<div></div></a></li>
									<li><a href="service.html">实施服务<div></div></a></li>
									<li class="active"><a href="solution.html">行业解决方案<div></div></a></li>
									<li><a href="big-data-products.html">大数据产品<div></div></a></li>
									<li><a href="educational.html">教育与培训<div></div></a></li>
									<li class="dropdown">
										<a href="introduction.html" data-toggle="dropdown">关于我们<div></div><span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="introduction.html">公司介绍</a></li>
											<li><a href="partner.html">合作伙伴</a></li>
											<li><a href="contact.html">联系我们</a></li>
											<li><a href="recruit.html">2019校园招聘</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 内容 -->
			<div class="content">
				<!-- banner -->
				<div class="banner">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
								<h3>行业解决方案</h3>
								<p>音智达凭借多年在各行业的专业数据分析服务经验，根据行业的具体挑战和需求，针对性地提供面向各行业的垂直解决方案</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 内容展示 -->
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div>
									<span class="glyphicon glyphicon-plus"></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div>
									<span class="glyphicon glyphicon-plus"></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div>
									<span class="glyphicon glyphicon-plus"></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div>
									<span class="glyphicon glyphicon-plus"></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div>
									<span class="glyphicon glyphicon-plus"></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div>
									<span class="glyphicon glyphicon-plus"></span>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
								<div>
									<span class="glyphicon glyphicon-plus"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 内容结束 -->
			<!-- 尾部 -->
			<div class="footer">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="../img/logo-e1469776092665.png" alt="" class="img-responsive">
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 ">
								<div class="footer-top">
									<div class="part">
										<h5>实施服务</h5>
										<ul>
											<li><a href="service.html">大数据分析</a></li>
											<li><a href="service.html">IT 咨询服务</a></li>
											<li><a href="service.html">商业智能服务</a></li>
											<li><a href="service.html">主数据管理服务</a></li>
										</ul>
									</div>
									<div class="part">
										<h5>行业解决方案</h5>
										<ul>
											<li><a href="solution.html">快消与零售业</a></li>
											<li><a href="solution.html">生命科学</a></li>
											<li><a href="solution.html">航空与物流</a></li>
											<li><a href="solution.html">汽车制造业</a></li>
											<li><a href="solution.html">高科技制造业</a></li>
										</ul>
									</div>
									<div class="part">
										<h5>教育与培训</h5>
										<ul>
											<li><a href="educational.html">大数据公开课</a></li>
											<li><a href="educational.html">商业分析课程</a></li>
											<li><a href="educational.html">数据挖掘课程</a></li>
											<li><a href="educational.html">定制化课程</a></li>
										</ul>
									</div>
									<div class="part">
										<h5>关于我们</h5>
										<ul>
											<li><a href="introduction.html">公司介绍</a></li>
											<li><a href="partner.html">合作伙伴</a></li>
											<li><a href="contact.html">联系我们</a></li>
											<li><a href="recruit.html">招聘岗位</a></li>
										</ul>
									</div>
								</div>
								<div class="footer-bottom text-center">
									<p class="visible-lg">Copyright 2013 Advanced Service. All rights reserved. <span></span>沪公网安备 31010502001490号 沪ICP备12049665号-9</p>
									<p class=" visible-md visible-xs visible-sm">Copyright 2013 Advanced Service. All rights reserved. 沪ICP备12049665号-9</p>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<img src="../img/AAS-QR-code.jpg" alt="" class="img-responsive" >
							</div>
						</div>
					</div>
			</div>
		</div>
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>